<div id={{id}} class="header col-lg-12">
  <div class="container">

    <div class="navWrap2">
      {{#list navLinks}}
      <a href="{{url}}"><div class='navButton2'>{{title}}</div></a>
      {{/list}}
    </div>
  </div>
</div>
