<div id={{id}} class="default">
  <div class="assetSummary">
    <div class="imgContainer">
      <img id="ctaImage" src={{cta}}></img>
      {{#if blurb}}
      <div class="blurb">{{blurb}}</div>
      {{/if}}
    </div>
    {{{summary}}}
  </div>
</div>
