<div id={{id}} class="footer col-lg-12">

    <div class="footerLeft">
        {{client}}
    </div>

    <div class="footerRight">
      {{#list footerLinks}}
      <a href="{{url}}"><i class="fa fa-{{title}}"></i></a>
      {{/list}}

    </div>

</div>
