<div id={{id}} class="default fatPad">
  <div class="altSignup col-lg-12">
    <h2>{{callout}}</h2>
    <form class="altForm" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
    <input type=hidden name="oid" value="00D500000007fnl">
    <input type=hidden name="retURL" value="http://www.i9advantage.com/files/2914/5271/2741/Making_Sure_Your_I-9_Forms_are_Compliant_-_WP_-_I-9_Advantage.pdf">
    <label for="first_name"></label><input placeholder="First Name" id="first_name" maxlength="40" name="first_name" size="20" type="text" /><br>
    <label for="last_name"></label><input placeholder="Last Name" id="last_name" maxlength="80" name="last_name" size="20" type="text" /><br>
    <label for="title"></label><input placeholder="Title" id="title" maxlength="40" name="title" size="20" type="text" /><br>
    <label for="company"></label><input placeholder="Company" id="company" maxlength="40" name="company" size="20" type="text" /><br>
    <label for="email"></label><input placeholder="Email" id="email" maxlength="80" name="email" size="20" type="text" /><br>
    <input type="hidden" id="lead_source" name="lead_source" value="I-9 Medic White Paper Landing Page" />
    <input type="submit" name="submit">
    </form>
  </div>
</div>
